{% extends "base_no_nav.html" %}
{% block content %}
<!-- <nav>
    <ul>
        <li><a href="/members">View all members</a></li>
        <li><a href="/edit-member">Edit member details</a></li>
    </ul>
</nav> -->
<main>
    <h2>Edit member</h2>
    <article>
        <form action="/members/{{member.id}}" method="post" class="form">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{member.name}}" placeholder="Name" size="30" required autofocus>
            </div>
            
            <div>
              <label for="address">Address</label>
              <textarea id="address" name="address" placeholder="Address" rows="4" cols="30" required>{{member.address}}</textarea>
            </div>

            <div>
                <label for="phone">Phone number</label>
                <input type="text" id="phone" name="phone" value="{{member.phone}}" placeholder="Phone" size="30" required>
            </div>

            <div>
                <label for="email">Email address</label>
                <input type="text" id="email" name="email" value="{{member.email}}" placeholder="Email" size="30" required>
            </div>
            
            <div>
                <label for="premium">Premium</label>
                <select id="premium" name="premium">
                  <option value="{{member.premium}}">Yes</option>
                  <option value="{{member.premium}}">No</option>
                </select>
            </div>
            
            <div>
                <label for="membership_no">Membership number</label>
                <input type="number" id="membership_no" name="membership_no" value="{{member.membership_no}}" placeholder="Membership number" required>
            </div>
            
            <button type="submit">Edit member</button>
        </form>

        <form class="delete-form" action="/members/{{member.id}}/delete" method="POST">
            <button type="submit" class="delete">DELETE MEMBER</button>
        </form>
        
        <div class="back-section">
            <p><a href ="/members" class="back">Back to members</a></p>
        </div>
    </article>
</main>
{% endblock %}