{% extends "base_no_nav.html" %}
{% block content%}
<main>
    <h2>Find member</h2>
    <article>
        <form action="/members/found-member" method="post" class="form">
            <div>
                <label for="name">Enter name</label>
                <input type="text" id="name" name="name" placeholder="Name" size="30" required autofocus>
            </div>
            <button type="submit">Find member</button>
        </form>

        <div class="back-section">
            <p><a href ="/members" class="back">Back to members</a></p>
        </div>  
    </article>
</main>
{% endblock %}