{% extends "base.html" %}
{% block content %}
<nav>
    <ul>
        <li><a href="/members/add">Add a new member</a></li>
    </ul>
</nav>
<main>
    <h2>Members</h2>
    <article>
    {% for member in all_members %}
        <p>Name: {{member.name}}</p>
        <p>Address: {{member.address}}</p>
        <p>Phone: {{member.phone}}</p>
        <p>Email: {{member.email}}</p>
        <p>Membership no: {{member.membership_no}}</p>
        {% if member.premium == True %}
            <p>Premium member</p>
        {% else %}
            <p>Standard member</p>
        {% endif %}
        <p><a href="/members/{{member.id}}/edit">Edit member details</a></p>
        <form action="/members/{{member.id}}/delete" method="POST">
            <button type="submit" class="delete">DELETE MEMBER</button>
        </form>
    {% endfor %}
    </article>
</main>
{% endblock %}