{% extends "base_no_nav.html" %}
{% block content %}
<main>
    <h2>Add class type</h2>
    <article>
        <form action="/class-types/{{class_type.id}}" method="post" class="form">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{class_type.name}}" placeholder="Name" size="30" required autofocus>
            </div>
            
            <div>
              <label for="description">Description</label>
              <input type="text" id="description" name="description" value="{{class_type.description}}" placeholder="Description" size="80" required>
            </div>

            <div>
                <label for="intensity">Intensity</label>
                <input type="text" id="intensity" name="intensity" value="{{class_type.intensity}}" placeholder="Intensity" size="30" required>
            </div>

            <div>
                <label for="difficulty">Difficulty</label>
                <input type="text" id="difficulty" name="difficulty" value="{{class_type.difficulty}}" placeholder="Difficulty" size="30" required>
            </div>
            
            <button type="submit">Edit class type</button>
        </form>

        <form action="/class-types/{{class_type.id}}/delete" method="POST">
            <button type="submit" class="delete">DELETE CLASS TYPE</button>
        </form>
        <p><a href="/class-types" class="back">Back to class types</a></p>
    </article>
</main>
{% endblock %}