{% extends "base.html"%}
{% block content %}
<main>
    <h2>Bookings</h2>
    <article class="listings">
    {% for booking in all_bookings %}
        <div class="individual-listing" class="individual-booking">
            <p>{{booking.member.name}}</p>
            <p>{{booking.fitness_class.class_type.name}}</p>
            <p>{{booking.fitness_class.date}}</p>
            <p>{{booking.fitness_class.time}}</p>
            <p>Membership no: {{booking.member.membership_no}}</p>
            <form action="/bookings/{{booking.id}}/delete" method="POST">
                <button type="submit" class="delete-booking">DELETE BOOKING</button>
            </form>
        </div>
    {% endfor %}
    </article>
</main>
{% endblock %}