{% extends "base.html"%}
{% block content %}
<main>
    <h2>Bookings</h2>
    <article>
    {% for booking in all_bookings %}
        <p>Name: {{booking.member.name}}</p>
        <p>Fitness class: {{booking.fitness_class.class_type.name}}</p>
        <p>Date: {{booking.fitness_class.date}}</p>
        <p>Time: {{booking.fitness_class.time}}</p>
        <p>Membership no: {{booking.member.membership_no}}</p>
        <form action="/bookings/{{booking.id}}/delete" method="POST">
            <button type="submit" class="delete">DELETE BOOKING</button>
        </form>
    {% endfor %}
    </article>
</main>
{% endblock %}