{% extends "base.html"%}
{% block content %}
<nav>
    <ul class="sub-nav">
        <li><a href="/bookings">View all bookings</a></li>
    </ul>
</nav>
<main>
    <h2>Book a class</h2>
    <article>
        <form action="/bookings" method="post" class="form">
            <div>
                <label for="fitness_class">Class</label>
                <select id="fitness_class" name="fitness_class_id">
                    {% for fitness_class in all_fitness_classes %}
                    <option value="{{fitness_class.id}}">{{fitness_class.class_type.name}} {{fitness_class.formatted_date()}} {{fitness_class.formatted_time()}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <label for="membership_no">Membership number</label>
                <input type="number" id="membership_no" name="membership_no" placeholder="Membership number" required>
            </div>
            
            <button type="submit">Book class</button>
        </form>
        <div class="back-section">
            <p><a href="/bookings" class="back">Back to bookings</a></p>
        </div>
{% endblock %}