<!DOCTYPE html>
<html>
<head>
    <title>Holistica Fitness and Wellbeing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/fitness-classes">Classes</a></li>
                <li><a href="/bookings/book-class">Book a class</a></li>
                <li><a href="/members">Members</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock%}
</body>
</html>